:host {
    display: flex;
    flex-direction: row;


}

img {
    margin-top: 2px;
    height: 20px;
}

span {
    font-family: 'Fira Code', monospace;
    font-weight: lighter;
    font-size: 16px;
    line-height: 28px;
}