:host {
    min-width: 48px;

    padding-top: 12px;
    padding-bottom: 16px;

    grid-row: 1;

    display: flex;
    flex-direction: column;

    row-gap: 4px;
}

div.label {
    padding-top: 1px;
    height: 16px;
    color: #a9aaac;
    font-family: 'Fira Code';
    font-size: 14px;
    text-align: center;
}

div.label.active {
    filter: brightness(1.4);
    font-weight: 500;

    // color: #ffffff;
    // color: #3ea2dd;
}

div.indicator {
    width: 64px;
    height: 32px;

    padding-top: 4px;

    text-align: center;
}

div.icon.active div.indicator {
    background-color: #28343e;

    border-radius: 16px;
}

div.icon {
    height: 32px;
    max-width: 64px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

div.icon img{
    width: 24px;
}

div.icon.active img{
    width: 24px;

    filter: brightness(1.4);
}