<div class="content">
  <h1 >Device</h1>
  <div class="setting">
    <span>Bluetooth</span>
    <!-- <ph-switch [selected]="bluetooth.isEnabled" (selectedChange)="onBluetoothChange()" (click)="toggleBluetooth()"></ph-switch> -->
  </div>
  <div *ngIf="this.bluetooth.connectedDevice" class="device">
    <img src="assets/img/bluetooth_connected.svg" />
    <div class="connected">
      <span>{{this.bluetooth.connectedDevice.name}}</span>
      <span>Connected</span>
    </div>
    <img src="assets/img/delete.svg" (click)="bluetooth.disconnect()" />
  </div>
  <div class="spacer"></div>
  <div class="category">
    Available devices
  </div>
  <div class="device" *ngFor="let device of availableDevicesWithoutConnectedDevice()" (click)="connect(device)">
    <img src="assets/img/bluetooth.svg" />
    {{device.name}}
    <img *ngIf="isConnecting" src="assets/img/spinner.svg" />
  </div>
  <div class="device" style="margin-top: 6px;" (click)="scan()">
    <img src="assets/img/add.svg" /> Add new device <img *ngIf="bluetooth.isScanning" src="assets/img/spinner.svg" />
  </div>
  <!-- <div class="spacer"></div>
  <div class="category">
    Configuration
  </div> -->

</div>
