<div class="content">
  <h1>Device</h1>
  <div class="setting">
    <span>Bluetooth</span>
    <ph-switch [selected]="bluetooth.isEnabled" (selectedChange)="onBluetoothChange()"></ph-switch>
  </div>
  <div *ngIf="this.bluetooth.connectedDevice" class="device">
    <img src="assets/img/bluetooth_connected.svg" />
    {{this.bluetooth.connectedDevice.name}}
  </div>

  <div class="spacer"></div>
  <div class="category">
    Available devices
  </div>
  <div class="available" *ngFor="let device of this.availableDevices" (click)="connect(device.id)">
    {{device.name}}
  </div>
  <div class="spacer"></div>
  <div class="category">
    Configuration
  </div>

</div>
